services:
  # Aplicação Next.js
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - neogames-network
    restart: unless-stopped

volumes:
  mongo-data:
    driver: local

networks:
  neogames-network:
    driver: bridge
